.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltiptext {
    position: absolute;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s;
  }
  